<table>
  <tr>
    <td>Name:<td>
    <td><%=student.attr("name") %><td>
  </tr>
  <tr>
    <td>Age:<td>
    <td><%=student.attr("age") %><td>
  </tr>
  <tr>
    <td>Email:<td>
    <td><%=student.attr("email") %><td>
  </tr>
</table>