/*login register start*/
.lg-rg-tab-ul{
	width: 80% !important;
	margin:20px auto !important;
}
.lg-rg-form{
	width: 80%;
	margin:auto;
}
.lg-rg-form-group{
	width: 80%;
	margin:20px auto !important;
}
.lg-rg-btn-a{
	padding: 10px;
}
/*login register end*/
